body{background: #FFDDDD;}
.changBg{width: 400px;margin: 0 auto;}
#ul1{width: 100%;height: 30px;margin-top: 50px;}
#ul1 li{width: 10px;height: 10px;float: left;margin-left: 20px;cursor: pointer;}
#ul2 li{width: 60px;height: 30px;line-height: 30px;text-align: center;border:1px solid #FFFFFF ;
float: left; background: red;}
a{color: #FFFFFF;}
#ul1 .black{background: black;}
#ul1 .green{background: green;}
#ul1 .red{background: red;border: 3px solid #FFFFFF;}
#ul2{margin-top: 20px;}
ul{list-style: none;}